{% extends "project/project.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <section class="well">
                <h3>Nouveau projet</h3>
                <form role="form" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="control-label">Nom du projet</label>
                                <input type="text" name="name" class="form-control" id="name" placeholder="Nouveau projet" value="{{ setValue('name') }}" maxlength="255" required>
                            </div>
                    {{ formError('name') }}
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="deadline">Date de fin</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="deadline" name="deadline" value="{{ setValue('deadline') }}"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"><i class="fa-calendar-o"></i></button>
                                    </span>
                                </div>
                            </div>
                    {{ formError('deadline') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content">Description</label>
                        <textarea class="form-control" name="content" id="content">{{ setValue('content') }}</textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
{% endblock %}