{% extends "layout.html.twig" %}

{% set navtab = 'overview' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section class="well">
                <h3>Derniers tickets</h3>
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <tr>
                            <th># Ticket</th>
                            <th>Titre</th>
                            <th>Auteur</th>
                        </tr>
                        {% for i in 1..4 %}
                        <tr>
                            <td>#{{ i }}</td>
                            <td><a href="{{ domain() }}tickets/{{ i }}/show">Titre ticket</a></td>
                            <td><a href="{{ domain() }}user/{{ i }}/show">Auteurs</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section class="well">
                <h3>
                    <i class="fa-user"></i> 
                    <b>Bienvenue {{ [userData.lastname, userData.firstname]|join(' ')}} </b>
                    
                    <div class="pull-right"> 
                        <a class="btn btn-danger btn-xs" href="{{ domain() }}user/{{ userData.idUser }}/delete">
							<i class="fa-times"></i> Supprimer 
						</a>&nbsp;
                    </div>
                    <div class="pull-right"> 
                        <a class="btn btn-primary btn-xs" href="{{ domain() }}user/{{ userData.idUser }}/edit">
							<i class="fa-edit"></i> Editer 
						</a>
                        &nbsp;
                    </div>
                </h3>
                <div class="page-header-min"><b>Informations : </b></div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-lg-4">
                        <a href="mailto:{{ userData.email}}" target="_top"><i class="fa-envelope"></i> {{ userData.email}}</a>
                    </div>
                    <div class="col-md-4"><i class="fa-suitcase"></i>{% if userData.company == 0 %} - - {% else %}{{ userData.company|capitalize}}{% endif %}</div>
                    <div class="col-md-4"><i class="fa-sitemap"></i> {{ userData.roles|join(', ')}}</div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-min"><b>Mes ticket :</b></div>
                        <p>Vous avez -- ticket(s) en cours</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="page-header-min"><b>Tickets traités :</b></div>
                        <p>Vous avez -- ticket(s) taité(s) <br/>sur -- ticket(s) en cours</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <section class="well">
                <h3>Statistiques</h3>
                <div class="row">
                    <div class="col-md-6">
                        chart1
                    </div>
                    <div class="col-md-6">
                        chart 2
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <section class="well">
                <h3>Aide ?</h3>
            </section>
        </div>
    </div>
</div>
{% endblock %}
